---
Language: Cpp
BasedOnStyle: Google

# 花括号前换行的设置设为 Linux 风格，即函数换行，其他情况不换行
BreakBeforeBraces: Linux

# Tab 对应 4 个空格
UseTab: Never
TabWidth: 8

# 代码块缩进 4 个空格
IndentWidth: 8

# 不允许在一行中使用简短的 if 语句写法
AllowShortIfStatementsOnASingleLine: false

# 每行代码最大字符数不做硬性要求，但建议控制在 120 以内
ColumnLimit: 120

# 连续的宏定义时，对齐所有宏定义
AlignConsecutiveMacros: AcrossComments

# 访问权限修饰符的位置为 -2，即在类型和名称之间
AccessModifierOffset: -2

# 禁止头文件排序
SortIncludes: false

AllowShortEnumsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
# 允许短的函数放在同一行, 可选值: None, InlineOnly(定义在类中), Empty(空函数), Inline(定义在类中，空函数), All
AllowShortFunctionsOnASingleLine: All
# 允许lambda在一行中, 同上, 建议All
AllowShortLambdasOnASingleLine: All
# 是否将简单的if(else/else if)语句中的body跟if(else/else if)放置于同一行，可选值
# - Never: 永远不, 建议值
# - WithoutElse: 没有else/else if时, 允许
# - OnlyFirstIf: 只有第一个if允许
# - AllIfAndElse: 所有的if/else都允许
# AllowShortIfStatementsOnASingleLine: Never
# 是否允许loop语句体跟loop语句共行, true/false, 建议false
AllowShortLoopsOnASingleLine: false
